<ion-header>
  <ion-toolbar>
    <ion-title>
      Push Notification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card" *ngFor="let token of tokens">
          <ion-title>
            {{token.token}}
          </ion-title>
            <ion-button (click)="sendNotification(token.token)" fill="clear">
              <ion-icon name="send"></ion-icon>
            </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="full" color="primary" (click)="requestPermissions()">Habilitar notificaciones push</ion-button>
</ion-content>
